input {
  width: 15rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #c1ff00;
  border: 2px solid black;
  color: #fff;
  padding-left: 1rem;
  position: absolute;
  right: 5.5%;
}
