.topBar {
  display: flex;
  width: 100%;
  height: 5rem;
  background-color: #ffffff;
  box-shadow: -5px 5px 17px #bebebe, 5px -5px 17px #ffffff;
}

.menu-mobile {
  width: 7rem;
  height: 5rem;
}

.searchBar {
  display: flex;
  justify-content: end;
  width: 100%;
}
