.mob-menu {
  display: none;
}

.container-side {
  display: flex;
  width: 10vw;
  height: 100vh;
  position: absolute;
  left: 0;
}

.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100vh;
  width: 7vw;
  box-shadow: 5px 5px 17px #bebebe, -5px -5px 17px #ffffff;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 1000;
}

.actions {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-evenly;
}

.action {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border: 2px solid #c1ff00;
  border-radius: 0.5rem;
  cursor: pointer;
}

.p-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #fff;
  border: 2px solid #c1ff00;
  border-radius: 0.5rem;
  cursor: pointer;
}

.category {
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.cart {
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.profile {
  width: 3rem;
  height: 3rem;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.categoryes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category-l {
  background-color: #d9d9d9;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

h2 {
  color: #c1ff00;
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  .container-side {
    display: none;
  }

  .mob-menu {
    display: block;
  }
}
